<div class="row">
    <div class="col-3">
        <img src="../assets/img/LOGO.jpg" alt="">
    </div>
    <div class="col-9">
            <button type="button" class="btn btn-secondary">Secondary</button>
            <button type="button" class="btn btn-secondary">Secondary</button>
            <button type="button" class="btn btn-secondary">Secondary</button>
            <button type="button" class="btn btn-secondary">Secondary</button>
            <button type="button" class="btn btn-secondary">Secondary</button>
            <button type="button" class="btn btn-secondary">Secondary</button>
    </div>
</div>